<?= Form::open() ?>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5><?= e(trans('waka.productor::lang.behavior.popup.create')) ?></h5>
    </div>
    <div class="modal-body">
        <input id="modelId" name="modelId" type="hidden" value="<?= $modelId ?>">
        <div class="form-group">
            <select class="form-control custom-select" data-request="onSelectProductor" data-request-loading="#wakaLoading2" name="driverCode">
                <option value="" disabled selected><?= e(trans('waka.productor::lang.popup_creator.placeholder_model')) ?></option>
                <?php foreach ($drivers as $driverkey => $value) :
                    $productors = $value['productors'];
                    if (count($productors)) : ?>
                        <optgroup label="<?= $value['label'] ?>">
                            <?php

                            //trace_log($productors);
                            foreach ($productors as $productorKey => $value) : ?>
                                <option value="<?= $driverkey ?>=<?= $productorKey ?>"><?= $value['name'] ?></option>
                            <?php endforeach ?>
                        </optgroup>
                    <?php endif ?>
                <?php endforeach ?>
            </select>
        </div>
        <div class="">
            <div id="productorWidget">
                <!--Emplacement pour les data-->
            </div>
            <div id="productorAsksWidget">
                <!--Emplacement pour les data-->
            </div>
            <div id="productorError">
                <!--Emplacement pour les data-->
            </div>
            <div id="wakaLoading2" class="loading-indicator-container" style="display:none">
                <div class="loading-indicator">
                    <span></span>
                    <div>Veuillez patienter...</div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer m-t">
        <div class="loading-indicator-container">
            <div id="productorModalBtns">
                <?= $this->makePartial('~/plugins/waka/productor/behaviors/productorbehavior/partials/_btns.htm') ?>
            </div>
        </div>
    </div>
</div>

<?= Form::close() ?>